.menu{
	position: absolute;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;

	height: 70px;
	transition: top 1s;
	border-radius: 3px;
	color: #000000!important;
	font-weight: bold;
}

.menu{
	 background-image: linear-gradient(to right, #b1d1e3 0%, #0f2547 45%);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 12, .2);
	opacity: .9;
	border:#86acc2 solid;
	
}
.dropright:hover>.dropdown-menu{
	display: block;
	background-color: white;
}
.dropdown-menu a{
	background-color: 
	opacity: 1;
	color: #f2b00a;
	
}
.dropright{
	background:#0f2547;
}
#mainMenu a{
	background: #0f2547;
	}
#mainMenu ul li a{
	color: #f2b00a;
	font-family: 'Playfair Display', serif;

}
/*#mainMenu{
	background-image: url(img/sky.jpg);
	opacity: 1;
}*/
/*end of navbar*/
/*carousel section*/

.main-text{
	height: 300px!important;

}
.main-text h1{
	font-size: 60px;
	color: white;
	line-height: 1.1;
	font-weight: bold;
}
/*.carousel{
	height: 535px;
}*/
.btn-hero{
	background: #0f2547;
	color: #fff;
	animation: skew 3s infinite;
	animation-direction: normal;
	transform: skew(1deg);
	animation-direction: alternate;
	padding: 5px 17px;

}
@keyframes skew{
	0%{
		transform: skew(35deg);
	}
	100%{
		transform: skew(-35deg);
	}
}
#carouselExampleCaptions{
	z-index: -5;
}
.itemcaro{
	transform: skew(-5deg);
	border-radius: 5px;
}
/*end of carousel*/

/*search section*/
.btn-search{
	background: #021633;
	border: 2px solid #021633;
	color: #fff;

}
.btn-search:hover{
	border: 2px solid #021633;
	background: transparent;
	color: #021633;
}
.section-search{
	background: #86acc2;

}
@media(min-width: 500px){
	.tab-search{
		margin-top: -22px;
		transform: skew(20deg);
	}
}


/*end of search section*/

/*welcome section*/
h2{
	
	font-weight: bold;
}
.img-wrap .effect{
	position: relative;
	margin-bottom: 0;
	display: block;

}
.img-wrap .effect:after{
	z-index: -1;
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	background-image: url(img/1.jpg);
	transition: .3s all ease-in-out;

}
.img-wrap:hover .effect:after{
	right: 0px;
	bottom: 0px;
	position: absolute;
}
.img1:hover{
  transform: translate(-15px,-10px);
  transition: .3s;
}
/*item carousel*/
.slider {
			width: 90%;
			margin: 10px auto;
		}
		.slick-slide {
			margin: 0px 20px;
		}
		.slick-prev:before,
		.slick-next:before {
			color: gold;
		}
		.slick-slide {
			transition: all ease-in-out .3s;
			opacity: .2;
		}
		.slick-active {
			opacity: 1;
		}
		/*content*/
		.content{
			background-color: #788a88;
		}
		/*end content*/
    /*testing*/
    .booksection{
    	background-image: url(img/11.jpg);
    	background-attachment: fixed;
    }
    .b{
    	border-radius: 10px;
    }
  .book {
  transform-style: preserve-3d;
  position: relative;
  height: 100px;
  cursor: pointer;
  backface-visibility: visible;
}
.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 150px;
  height: 120%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}
.front, .back {
  background: #b1d1e3;
}
.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}
.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}
.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}
.page3 {
  background: #f5f5f5;
}
.page4 {
  background: #f5f5f5;
}
.page5 {
  background: #d4d9d9;
}
.page6 {
  background: #d4d9d9;
}
.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}
/*page control*/
.pagecontroller{
  border-radius: 25px;
  height: 65px;
}
/*end page control*/
/*footer*/
.footer{
	 background-image: linear-gradient(to right, #b1d1e3 35%, #000000 100%);
}
/*end footer*/
/*package*/
ul {
  list-style: none;
}
.card ul li::before {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}
/*end package*/
/*slidebar*/
.slidebar{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.packages:hover{
   box-shadow: -5px 5px 13px 8px rgba(0,0,0,0.2);
   transform: translate(1px,-3px);
transition-duration: .3s;
}
/*end slidebar*/
/*detail page*/
.bg{
	/*background-image: url(img/background1.jpg);*/
	height: 70px;
}
h4{
	font-family: 'Playfair Display', serif;
}
h1{
	font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;
}
p{
	font-family: 'EB Garamond', serif;
	font-size: 18px;
}
.tour:hover{
   padding: 1px;
}
h5{
	color: #702d28;
	font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;

}
.packagebg{
	background-image: url(img/kayin.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.button{
	background-color: #183266;
}